<h1 align="center">Recipe Name: <%= @recipe.name.capitalize %></h1>
<div class="container">
  <h4 class="center description"><strong>Description: </strong></h4>
  <hr />
  <%= @recipe.description %>
  <hr />
  <div class="pull-right">
    <p class="center">
      Created by:
    </p>
    <p class="center"><small><%= @recipe.chef.chefname %></small></p>
    <div class="pull-right"><%= time_ago_in_words(@recipe.created_at) %> ago</div>
    </p>
  </div>
</div>